body {
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light gray background color */
    color: #333; /* Text color */

}

h1 {
    text-align: center;
    color: #3a3b3c; /* Dark gray heading color */

}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],

textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

     
/*.*
/* Reset some default browser styles */





form {
max-width: 600px;
margin: 20px auto;
background-color: #fff; /* White background color */
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light box shadow */
}

div {
margin-bottom: 15px;
}

label {
display: block;
font-size: 14px;
margin-bottom: 5px;
color: #495057; /* Dark gray label color */
}

input {
width: 100%;
padding: 5px;
font-size: 14px;
border: 1px solid #ced4da; /* Light border color */
border-radius: 4px;
box-sizing: border-box;
}

input[type="checkbox"] {
width: auto;
}

/* /* input[type="address"] {
    width: 557px;
} */


button {
background-color: #007bff; /* Indeed.com blue color */
color: #fff; /* White text color */
padding: 10px 15px;
font-size: 16px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #0056b3; /* Darker blue on hover */
}

/* Add some spacing to the form */
br {
margin-bottom: 15px;
}

.column {
    overflow: hidden;
}
.column .left,
.column .right {
    width: 45%;
}

.column .left {
    float: left;
}
.column .right {
    float: right;
}
.column label {
    display: block;
}

input[type="ID"] {
    width: 100%;
}

.left {
    width: 45%;
}

.category-select {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #ced4da; /* Light border color */
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
    color: #555;
}

.category-select:hover {
    border-color: #2980b9;
}

.category-select:focus {
    border-color: #2980b9;
    box-shadow: 0 0 0 2px #87badb;
}
